./public/images/
*templates_c*
*media_libraries*
*logs*
*smarty/*
*nusoap*
*upload*
*clients*
*tags*
*node_modules*
./vendor/*
./public/js/alchemy-manager*
./public/js/vendors*
./public/js/chunk*
./public/js/boot*
./public/js/notificationBar*
./public/js/userListing*
./public/js/es5-poly.js
./public/js/BrowserLog.js
./public/js/manager-integration-suite.js
./public/js/Intl.complete.js
./public/js/jasmine-lib/*
./public/js/intl/*
./public/js/locale-data/*
./public/js/mockserver.js
./tests/_SpecRunner.html
*junit/*
*aspectmockcache/*
*coverage/*